<?xml version="1.0" encoding="utf-8"?>
<!--
DO NOT MAKE CHANGES TO THE ANDROID MANIFEST ON GITHUB, THE ONLY MAJOR CHANGES YOU SHOULD MAKE ARE
ADDING YOUR ACTIVITIES.

YOU MAY CHANGE THIS FOR TESTING BUT AKE SURE TO REVERT!!!!!!!!!!!!!
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group8.odin">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".common.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- common -->
        <activity android:name=".common.activities.SignUpActivity"/>

        <!-- proctor -->
        <activity android:name=".proctor.activities.ProctorHomeActivity"/>
        <activity android:name=".proctor.activities.ProctorExamSessionActivity"/>

        <!-- examinee -->
        <activity android:name=".examinee.activities.ExamineeHomeActivity"/>
        <activity android:name=".examinee.activities.ExamineeExamSessionActivity"/>

        <!-- file provider to save image : credit -> https://rodrigolmti.medium.com/android-get-camera-thumbnail-and-full-image-1bddfdc5347e -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.group8.odin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- point to file paths -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>




    </application>

</manifest>